<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SLOMS, Inc. | Status</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td align="center" bgcolor="#1caf9a" style="padding: 40px 0 30px 0; float: center;">
                <strong style="font-size: 20px; color: white;">SLOMS, Inc.</strong>
            </td>
        </tr>
        <tr>
            <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px; font-color:#000000;">
                <p>Dear <span th:text="${user_fullname}"></span>,</p>
                <p>
                    You have been <b><span th:text="${action}"></span></b> by <b><span th:text="${approvedOrDeclinedBy}"></span></b>.<br>

                    <div th:if="${action} == 'approved'">
                        You can now login your account.
                    </div>

                    <br>For other concerns, you can email at <span th:text="${emailAt}"></span>
                </p><br>
                
                <p>
                    Welcome to SLOMS Inc.
                    <br><br>
                    Have fun, and don't hesitate to contact us with your feedback.
                </p>
            </td>
        </tr>
        <tr>
            <td bgcolor="#777777" style="padding: 30px 30px 30px 30px; color:white;">
                <p style="color: white;">
                    Regards, SLOMS. Inc.<br><br>
                    Do not reply. This email is computer generated from SLOMS, Inc.<br>
                </p>
            </td>
        </tr>
    </table>

</body>
</html>