<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SLOMS, Inc. | Soon To Expire</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body style="margin: 0; padding: 0;">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td align="center" bgcolor="#1caf9a" style="padding: 40px 0 30px 0; float: center;">
                <strong style="font-size: 20px; color: white;">SLOMS, Inc.</strong>
            </td>
        </tr>
        <tr>
            <td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px; font-color:#000000;">
                <p>Hi <span th:text="${user_fullname}"></span>,</p>
                <p>
                    Below is one of the expiring media or billboard:<br><br>
                    <b>MEDIA ID:</b> <span th:text="${media_id}"></span><br>
                    <b>MEDIA NAME:</b> <span th:text="${media_name}"></span><br>
                    <b>MEDIA CODE:</b> <span th:text="${media_code}"></span><br>
                    <b>MEDIA LOCATION:</b> <span th:text="${media_location}"></span><br>
                    <b>MEDIA CLIENT:</b> <span th:text="${media_client}"></span><br>
                    <b>MEDIA CONTRACT START:</b> <span th:text="${media_contract_start}"></span><br>
                    <b>MEDIA EXPIRATION:</b> <span th:text="${media_expiration}"></span><br>
                </p>

                <br>
                
                <p>
                    To know more information, click the link below:<br><br>
                    <a th:href="@{${media_read_more_link}}" target="_blank"><span th:text="${media_read_more_link}"></span></a>
                
                    <br><br>
                    Have fun, and don't hesitate to contact us with your feedback.
                </p>
            </td>
        </tr>
        <tr>
            <td bgcolor="#777777" style="padding: 30px 30px 30px 30px; font-color:#000000;">
                <p>
                    Regards, SLOMS. Inc.<br><br>
                    Do not reply. This email is computer generated from SLOMS, Inc.<br>
                </p>
            </td>
        </tr>
    </table>

</body>
</html>